.App {
  text-align: center;
}

.wrap-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:rgba(236, 161, 70, 0.495);
}

h1,
h2,
h3 {
  margin: 5px;
}

button{
  margin: 10px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
}